<%- include('includes/head'); %>
  <%- include('includes/nav'); %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
          <h1 class="display-4 text-center">Editar contato!</h1>
          <p class="text-center my-2 lead">Altere os dados abaixo:</p>
          <%- include('includes/messages') %>

            <form class="form-edit-contato" action="/contato/edit/<%= contato._id %> " method="POST">
              <%- include('includes/formContato') %>
            </form>

        </div>

        <div class="col-lg-2"></div>
      </div>
    </div>

    <%- include('includes/footer') %>